/* ===========================
TABLET
===========================*/

@media(max-width:1100px){

.hero{

flex-direction:column-reverse;

text-align:center;

}

.hero-left p{

margin:auto;

}

.hero-buttons{

margin-top:25px;

}

.stats{

grid-template-columns:repeat(2,1fr);

}

.service-grid{

grid-template-columns:repeat(2,1fr);

}

}

/* ===========================
MOBILE
===========================*/

@media(max-width:768px){

.navbar{

padding:20px;

}

.navbar ul{

display:none;

}

.hero{

padding:120px 25px;

}

.hero-left h1{

font-size:42px;

}

.hero-left h2{

font-size:26px;

}

.profile-card{

width:320px;

height:400px;

}

.stats{

grid-template-columns:1fr;

}

.service-grid{

grid-template-columns:1fr;

}

.about-preview,
.services-preview{

padding:70px 25px;

}

footer{

padding:40px 20px;

}

}

/* Small Mobile */

@media(max-width:480px){

.hero-left h1{

font-size:34px;

}

.hero-left p{

font-size:15px;

}

.btn,
.btn2{

display:block;

margin:15px auto;

text-align:center;

}

.social{

justify-content:center;

}

.profile-card{

width:280px;

height:360px;

}

}

@media(max-width:900px){

.menu-toggle{

display:block;

}

.nav-links{

position:fixed;

top:80px;

right:-100%;

width:280px;

height:100vh;

background:#08111f;

display:flex;

flex-direction:column;

padding-top:40px;

gap:25px;

align-items:center;

transition:.4s;

}

.nav-links.active{

right:0;

}

}

img{

max-width:100%;

height:auto;

}

section{

padding-left:6%;

padding-right:6%;

}

@media(max-width:768px){

.hero{

grid-template-columns:1fr;

text-align:center;

}

.about-container{

grid-template-columns:1fr;

}

.contact-section{

grid-template-columns:1fr;

}

.project-grid{

grid-template-columns:1fr;

}

.services-page{

grid-template-columns:1fr;

}

.software-grid{

grid-template-columns:repeat(2,1fr);

}

.achievement-grid{

grid-template-columns:1fr;

}

.featured-blog{

grid-template-columns:1fr;

}

.gallery-grid{

grid-template-columns:1fr;

}

}